/*====Global variables====*/
/*colors*/
$color-h1: rgb(86, 86, 168);
$color-h2: rgb(111, 111, 169);
$color-p: black;
$color-prompt: rgb(144, 233, 144);
$color-one: rgb(252, 125, 122);
$color-two: rgb(174, 174, 74);
$color-three: rgb(13, 179, 71);

/*fonts*/
$font-prompt: Verdana, Geneva, Tahoma, sans-serif;
$font-out: Arial, Helvetica, sans-serif;

/*measures*/
$rem: 10px;
$p-margin: 2rem;

/*====Body elements====*/

/*headers*/
h1 {
    text-align: center;
    color: $color-h1;
};

h2 {
    text-align: center;
    color: $color-h2;
};

/*task' paragraphs*/
.tasks {
    display: block;
    text-align: left;
    color: $color-p;
    font-style: $font-out;
    // height: fit-content;
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;


    &__first {
        background-color: $color-one;

    }

    &__second {
        background-color: $color-two;

    };

    &__third {
        background-color: $color-three;

    };

};

/*inputs*/
.form {
    // background-color: $color-prompt;
    display: block;
    margin: 5px;

    &__first {
        background-color: $color-one;
    };

    &__second {
        background-color: $color-two;
    };

    &__third {
        background-color: $color-three;
    };

}

.prompt {
    // background-color: $color-prompt;
    font-family: $font-prompt;
    font-size: 1rem;

    .tasks {
    
        &__first {
            background-color: $color-one;
    
        }
    
        &__second {
            background-color: $color-two;
    
        };
    
        &__third {
            background-color: $color-three;
    
        };
    
    };
}

/*buttons*/



/*ouputs*/

out {
    margin: 20px;
    text-align: left;
    color: $color-p;
    font-style: $font-out;
    font-size: 1.5rem;

    &-1 {
        background-color: $color-one;
    };

    &-2 {
        background-color: $color-two;
    };

    &-3 {
        background-color: $color-three;
    };
}

// div {
//     p, input, button, p, output {
//         display: inline;
//     }
// };