/*-----Global variables------*/
/*colors*/
$color-h1: rgb(86, 86, 168);
$color-h2: rgb(111, 111, 169);
$color-p: black;

/*fonts*/
$font: Georgia, serif;
$font-out: Arial;

/*measures*/
$rem: 10px;


.tasks {
    margin-bottom: 2rem;
    text-align: left;
    color: $color-p;
    font-style: $font;
    height: fit-content;
    font-size: 1.5rem;

    & .tasks__first {
        background-color: rgb(254, 153, 152);
    };

    & .tasks__second {
        background-color: rgb(174, 174, 74);
    };

    & .tasks__third {
        background-color: rgb(13, 179, 71);
    };

    & .tasks__first, .tasks__second, .tasks__third {
        margin-bottom: 5px;
        padding: 5px;
    }
}

h1 {
    text-align: center;
    color: $color-h1;
};

h2 {
    text-align: center;
    color: $color-h2;
};

out {
    margin: 20px;
    text-align: left;
    color: $color-p;
    font-style: $font;
    font-size: 1.5rem;

    & out-1 {
        background-color: rgb(254, 153, 152);
    };

    & out-2 {
        background-color: rgb(174, 174, 74);
    };

    & out-3 {
        background-color: rgb(13, 179, 71);
    };
}

div {
    p, input, button, p, output {
        display: inline;
    }
};

.bg-orange {
    background-color: orange;
};